@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Regular.woff') format('woff'),
		url('ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('ProximaNova-Black.eot');
	src: local('Proxima Nova Black'), local('ProximaNova-Black'),
		url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Black.woff') format('woff'),
		url('ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Bold.woff') format('woff'),
		url('ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('ProximaNova-Light.eot');
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
		url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Light.woff') format('woff'),
		url('ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

*{
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Proxima Nova' , sans-serif;
	font-weight: 300;
	color: #fff;
	background: url(../img/background.png);
}
div, p, a, img, form, button {
	box-sizing: border-box;
}
h1 {
	padding-left: 20px;
	font-size: 55px;
	font-weight: 900;
	text-transform: uppercase;
}
ul, li {
  display: block;
}
a {
  text-decoration: none;
}
header {
	height: 707px;
}
.container {
	max-width: 808px;
	margin: 0 auto;
}
.phone {
	margin-top: 12px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.tel {
	display: block;
	text-align: center;
	padding-top: 8px;
	font-weight: 900;
	font-size: 21px;
	border: 1px solid #8a6d4c;
	width: 224px;
	height: 46px;
}
.btn {
	animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
	background: #8a6d4c;
	color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  width: 86px;
  height: 46px;
  padding-top: 8px;
  padding-left: 10px;
  display: block;
  transition: all 0.5s ease;
}
.btn:hover {
background: #c59c6c;
border: none;
color: #fff;
} 
nav {
	margin-top: -30px;
	background: url(../img/menu.png) no-repeat;
	background-size: 100%;
	background-position: center;
}
.menu {
	max-width: 808px;
	margin: 0 auto;
}
.menu ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu li {
		padding: 18px;
}
.menu li:hover {
		background: #8a6d4c;
}
.menu li:nth-child(3) {
    background: none;
    padding: 0;
}
.menu a {
	color: #c69c6d;
	font-size: 20px;
	text-transform: uppercase;
}
.active {
	background: #815a8f;
}
.back {
	background: url(../img/persefona.png) no-repeat;
	background-position: center;
	height: 100%;
	top: -8%;
	position: relative;
}
.text {
	top: 8%;
	position: absolute;
	max-width: 466px;
	margin-top: 40px;
}
.text p{
	border-left: 1px solid #c69c6d;
	padding-left: 20px;
	font-size: 16px;
}
.first-p{
	margin-top: 25px;
	padding-bottom: 20px;
}
.second-p{
	margin-bottom: 34px;
}
.p-cont {
	max-width: 388px;
	animation-duration: 1s;
  animation-delay: 2s;
}


.btn-cons {
	clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  background: linear-gradient(to top, #845ec1 50%, #7453bd 50%);
	color: #fff;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  width: 444px;
  height: 69px;
  padding-top: 24px;
  margin-left: 20px;
  padding-left: 25px;
  display: block;
  transition: all 0.5s ease;
	animation-duration: 30s;
}
.btn-cons:hover {
background: linear-gradient(to right, #8964c4, #5c32af);
} 
.work	{
	position: relative;
	top: 40px;
  height: 624px;
	background: url(../img/fon.png) no-repeat;
	background-position: center;
 
  }
  .backgra{
	height: 100%;
	max-width: 804px;
	margin: 0 auto;
  background-image: url(../img/eka.png);
  background-repeat: no-repeat;
  background-size: cover; 
 	background-blend-mode: multiply;
 	background-color: #594AAF;
}
.headline {
	padding-top: 20px;
	padding-right: 40px;
	float: right;
	text-align: right;
}
.headline h2{
	font-size: 55px;
	font-weight: 300;
	color: #aca5d7;
	text-shadow: 2px 3px 0px #594aaf, 0 0 2em #fff;
}
.headline p{
	font-size: 25px;
	font-weight: 300;
	color: #aca5d7;
	text-shadow: 1px 2px 0px #594aaf, 0 0 2em #fff;
	text-transform: uppercase;
}





.drop {
	padding-left: 86px;
	padding-top: 153px;
}

#nav{
	width:100%;
}
#nav li{
	margin-right:0px;
	position:relative;
}
#nav li a{
	padding-left: 5px;
	display:block;
  width:430px;
	color:#fff;
	text-decoration:none;
}
.bold {
	margin-bottom: 10px;
	font-weight:bold;
	font-size: 20px;
	white-space: nowrap;
}
#nav li a.bold:hover {
	text-decoration: underline;
	text-decoration-color: #c69c6d;
}
/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/


#nav ul li{
	float:none;
}


#nav li:hover ul


#nav a:hover{
background:#2f2f2f;
}
#hover a:hover{
	background: #c69c6d;
}
ul.dots {
    margin-top: -5px;
    margin-bottom: 10px;
}
/*.sub-menu
{
  display: none;
}*/
.main-item:focus ~ .sub-menu,
.main-item:active ~ .sub-menu,
.sub-menu:hover
{
  display: block;
}

.sub-menu2 {
  display: none;
}
.main-item2:focus ~ .sub-menu2,
.main-item2:active ~ .sub-menu2,
.sub-menu2:hover {
  display: block;
}
#nav li a.item{
	width:230px;
	padding-left: 28px;
	font-size: 20px;
	font-weight: 300;
}

.sub-menu3 {
  display: none;
}
.main-item3:focus ~ .sub-menu3,
.main-item3:active ~ .sub-menu3,
.sub-menu3:hover {
  display: block;
}
.sub-menu4 {
  display: none;
}
.main-item4:focus ~ .sub-menu4,
.main-item4:active ~ .sub-menu4,
.sub-menu4:hover {
  display: block;
}
.sub-menu5 {
  display: none;
}
.main-item5:focus ~ .sub-menu5,
.main-item5:active ~ .sub-menu5,
.sub-menu5:hover {
  display: block;
}
.sub-menu6 {
  display: none;
}
.main-item6:focus ~ .sub-menu6,
.main-item6:active ~ .sub-menu6,
.sub-menu6:hover {
  display: block;
}

.dots li {
	background: url(../img/dots.png) no-repeat 5px center;
}

.btn-work {
	clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
  background: linear-gradient(to top, #845ec1 50%, #7453bd 50%);
	color: #fff;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  width: 289px;
  height: 69px;
	padding-top: 17px;
	margin-left: -40px;
	padding-left: 56px;
  display: block;
  transition: all 0.5s ease;
	animation-duration: 15s;
}
.btn-work:hover {
background: linear-gradient(to right, #8964c4, #5c32af);
} 
.work-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.work-button {
margin-left: auto;

	padding-top: 153px;
}
.work-button p {
	padding-top: 10px;
	color: #594aaf;
	font-size: 17px;
	font-weight: 300;
	text-align: right;
}



.our-advantage {
	padding-top: 83px;
	height: 620px;
}
.advantage-container {
	max-width: 832px;
	margin: 0 auto;
}
.advantage-container h2 {
    font-size: 55px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 48px;
	animation-duration: 5s;
  animation-delay: 7s;
  animation-iteration-count: infinite;
}
.advantage-cards {
	margin-top: -30px;
	align-items: baseline;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.advantage-card {
	padding: 0px 5px;
	text-align: center;
}
.advantage-card__text {
	max-width: 210px;
	background: #594aaf;
	height: 263px;
}
.transparent {
	height: 31%;
	width: 96%;
	margin: 0 auto;
	background: url(../img/transparent.png);
}
h3 {
	text-transform: uppercase;
	text-align: initial;
	font-size: 17px;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 15px;
}
.advantage-card__text p{
	text-align: initial;
	font-size: 14px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

.advantage__icon{
	margin-bottom: -25px;
}
.advantage__icon_top {
	margin-bottom: 10px;
}

.reviews {
	height: 693px;
	background: url(../img/photo_back3.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.reviews__box_title {
	padding-top: 43px;
	max-width: 730px;
	margin-left: auto;
}
.reviews__box_title h2{
		text-align: center;
		text-transform: uppercase;
    font-size: 55px;
    font-weight: 300;
    color: #c69c6d;
		text-shadow: -3px -4px 0px #594aaf, 0 0 2em #fff;
}
.reviews__cards {
	max-width: 650px;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
	left: 7%;
}
.reviews__card {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}
.reviews_text {
	max-width: 505px;
	height: 153px;
	width: 100%;
  font-size: 12px;
  text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: #594AAF;
	opacity: 0.8;
}
.reviews_text p {
	max-width: 276px;
	text-align: left;
}
.reviews_img {
	position: absolute;
	z-index: 1;
}
.first-img{
	left: -13%;
}
.first-text {
	background-image: url(../img/backg1.png);
	padding-top: 25px;
	padding-bottom: 30px;
	padding-left: 115px;
	clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
.second-card {

}
.second-text {
	background-image: url(../img/backg2.png);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
	padding-top: 25px;
	padding-bottom: 30px;
	padding-left: 86px;
}
.second-text p {
	text-align: right;
}
.second-img {
	left: 59.5%;
	transform: scale(-1, 1)
}
.second-text_p {
	float: left;
}

.more {
	text-align: center;
	margin-right: 151px;
}
.more a {
	color: #594aaf;
	font-size: 29px;
	font-weight: 400;
}

.contact{
	position: relative;
	height: 602px;
}
.box-contact{
	max-width: 804px;
	margin: 19px auto;
}
.box-contact h2 {
	text-transform: uppercase;
	font-size: 56px;
	font-weight: 300;
}
.map {
	background: url(../img/map.png) no-repeat;
	height: 514px;
	max-width: 1273px;
	margin: 0 auto;
}


.form {
	position: relative;
	max-width: 388px;
	height: 337px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 11px 11px rgb(89,74,175);
	bottom: 97.7%;
	left: 17%;
	text-align: center;
}
.form_p {
	text-align: right;
	padding-right: 45px;
	padding-top: 29px;
	padding-bottom: 42px;
	font-size: 29px;
	color: #594aaf;
	text-transform: uppercase;
	font-weight: 400;
}
.active__line {
	position: absolute;
	left: 54%;
	bottom: 0px;
  display: block;
  width: 5px;
  height: 620px;
  background: #594aaf;
}

.forma {
  max-width: 239px;
  height: auto;
  margin: 0 auto;
}

input::-webkit-input-placeholder { color: #666; } /*Меняет цвет внутри placeholdera*/
input::-moz-placeholder { color: #666; }

.name__phone {
margin-bottom: 11px;
}
.form-input-name, .form-input-phone {
 font-family: 'Proxima Nova' , sans-serif;
 font-weight: 300;
 font-size: 20px;
 box-sizing: border-box;
 background: #e6e6e6;
 border: none;
 max-width: 239px;
 width: 100%;
 height: 31px;
 padding-left: 10px;
}
.form-input-phone {
 margin-top: 9px;
}
button.send-button {
  border: none;
  cursor: pointer;
  background: linear-gradient(to top, #845ec1 50%, #7453bd 50%);
	color: #fff;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  width: 239px;
  height: 46px;
  display: block;
  transition: all 0.5s ease;
	animation-duration: 5s;
}

button.send-button:hover {
	background: linear-gradient(to right, #8964c4, #5c32af);

}
.window {
	position: relative;
	bottom: 93.5%;
	left: 52%;
	width: 262px;
	height: 176px;
	background: #cba578;
	opacity: 0.9;
}
.window p{
	padding-left: 30px;
	font-size: 20px;
	font-weight: 300;
}
.window p:first-child{
	padding-top: 33px;
}
footer {
	height: 143px;
	background: url(../img/footer.png);
}
.footer__container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 16px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 833px;
	margin: 0 auto;
}
.logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.logo_p {
	max-width: 230px;
	margin-left: 26px;
	color: #c69c6d;
	font-size: 29px;
	font-weight: 900;
	text-transform: uppercase;
}
.footer_p {
	text-align: right;
}
.footer__contact {
	margin-left: auto;
}


.fancybox-content {
	padding: 0;
	display: none;
	overflow: initial;
}
.fancybox-slide--html .fancybox-close-small {
    color: #000;
}
.modal_form {
	left: 0;
}
.modal_form p{
	padding-left: 20px;
}
.modal_send {
	padding-top: 20px;
}
.other_p {
	padding-right: 45px;
	padding-top: 29px;
	padding-bottom: 42px;
	font-size: 29px;
	color: #c59c6c;
	text-transform: uppercase;
	font-weight: 400;
	text-align: left;
	margin-left: 20px;
}
.other_form{
	max-width: 388px;
	height: 337px;
	margin: 0 auto;
	background: #fff;
	box-shadow: -11px 11px rgb(197,156,108);
	left: 17%;
}
.other_close {
    top: 33px;
    left: 250px;
}
#other-btn {
  background: linear-gradient(to top, #8a6d4c 50%, #c59c6c 50%);
	color: #fff;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  width: 175px;
  height: 46px;
  display: block;
  transition: all 0.5s ease;
	animation-duration: 5s;
}
#other-btn:hover {
	background: linear-gradient(to top, #c59c6c 50%, #8a6d4c);
}
.other_n-p{
	width: 83%;
	margin-left: 20px;
}
.other_send{
	padding-top: 20px;
}


